# Virtual Environment
venv/
bpyass_env/
.env/
__pycache__/
*.pyc
*.pyo

# Results and logs
results/
logs/
*.log
*.txt
# execption 
!requirements.txt

# IDE
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local